
.icon-truck:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-quora:before { content: '\f2c4'; } /* '' */